* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: auto;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #365eaa;
}

.header--title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #f6e652, #f6bd20);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: auto;
}

.header--logo,
.header--logo2 {
    max-width: 100%;
    height: auto;
    width: 150px;
}

.card {
    height: 200px;
    width: 200px;
    margin: 2em;
    border-radius: 10px;
    background-color: #f6bd20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
}

.card--title,
.card--type {
    margin: 0;
}